.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid #067BC2;
    /*background-color: rgba(0,0,0,0);*/
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
    height: 100%;
    border-width: 0px 0px 55px 144px;
    /*background-color: rgba(0,0,0,0.3);*/
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
}

.bt-menu-trigger {
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.bt-menu-trigger:hover{
    width: 55px;
    height: 55px;
}

.bt-menu-trigger > ng-md-icon {
    fill: white;
}

.bt-menu-trigger:hover > ng-md-icon {
    fill:rgba(255, 255, 255, 1);;
}

.bt-menu-trigger > ng-md-icon > svg{
     width: 48px;
     height: 48px;
 }

.bt-menu-trigger:hover > ng-md-icon > svg{
    width: 53px;
    height: 53px;
}
.bt-menu > ul {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bt-menu > ul:first-of-type {
    top: 75px;
    left: 0;
}

.bt-menu > ul:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

.bt-menu > ul > li,
.bt-menu > ul > li > a {
    display: block;
}

.bt-menu ul:nth-of-type(2) li {
    float: left;
    font-size: 0px;
}

.bt-menu > ul > li {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open >  ul:first-of-type >  li,
.bt-menu.bt-menu-open > ul:nth-of-type(2) > li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu > ul:first-of-type > li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: translate3d(-100%,50%,0);
    transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open > ul:first-of-type > li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu > ul:nth-of-type(2) > li {
    width: 60px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.bt-menu.bt-menu-open > ul:nth-of-type(2) > li:first-child {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.bt-menu.bt-menu-open > ul:nth-of-type(2) > li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.bt-menu.bt-menu-open > ul:nth-of-type(2) > li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.bt-menu.bt-menu-open > ul:nth-of-type(2) > li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.bt-menu.bt-menu-open > ul:nth-of-type(2) > li {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bt-menu > ul > li > a {
    display: block;
    outline: none;
    text-decoration: none;
}
.bt-menu > ul > li > a:hover > md-icon{
    color: rgba(255, 255, 255, 1);
    font-size: 55px;
    -ms-transform: rotate(21deg); /* IE 9 */
    -webkit-transform: rotate(21deg); /* Chrome, Safari, Opera */
    transform: rotate(21deg);
}

.bt-menu > ul:first-of-type > li > a {
    padding: 0 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu > ul:nth-of-type(2) > li > a {
    color: transparent;
    text-align: center;
    font-size: 0px;
}