<div id="accueil">
    <div class="container model">
        <h1>WEBCUP SPACE STATION</h1>
            Attention <span class="fastlap"> au mal de l'espace,&agrave; l'addiction spaciale,&agrave; 24h de web cup</span>
    </div>
</div>

    <div id="primary-content">
        <div class="wrapper container">
            <article>
                <h3>Qui sommes nous?</h3>
                <p>Avec maintenant plus de 12 vaisseaux spatiaux lancés avec succès , WASA est le leader en vaisseau spatial. </p>
            </article>
        </div>
    </div>


    <div class="parallax">
        <div class="bg__foo"></div>
    </div>

    <div id="primary-content">
        <div class="wrapper container">
            <article>
                <h3>Vous allez l'adorer</h3>
                <p>La WASA vous propose maintenant la chance de visiter la station de vaisseau aussi bien que les vaisseaux. </p>
            </article>
        </div>
    </div>

    <div class="parallax">
        <div class="bg__test"></div>
    </div>

    <div id="primary-content">
        <div class="wrapper container">
            <article>
                <h3>Adresse</h3>
                <p>Cyber Tower 1. </p>
                <p>9eme etage,Ebene</p>
                <p>Maurice</p>
            </article>
        </div>
    </div>

    <div class="parallax">
        <div class="bg__test2"></div>
    </div>

    <div id="cta">
        <div class="wrapper container">
            <h3>Contactez nous</h3>
            <md-content>
                <div id="contact" layout="column" layout-align="center center" style="padding:40px" ng-cloak>
                    <div>
                        <md-input-container>
                            <label>Nom</label>
                            <input ng-model="vm.user.fname">
                        </md-input-container>
                        <md-input-container>
                            <label>Prénom</label>
                            <input ng-model="vm.user.lname">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <label>Addresse e-mail</label>
                            <input class="large_input"  ng-model="vm.user.email" type="email">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container >
                            <label>Message</label>
                            <textarea class="large_input" ng-model="vm.user.message"></textarea>
                        </md-input-container>
                    </div>
                    <div>
                        <md-button class="md-primary md-hue-1">Envoyer</md-button>
                    </div>
                </div>
            </md-content>
        </div>
    </div>





