/****title***/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.area{
    text-align:center;
    font-size:1em;
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    animation:blur .95s ease-out infinite;
    text-shadow:0px 0px 5px #fff,
    0px 0px 7px #fff;
}

@keyframes blur{
    from{
        text-shadow:0px 0px 10px #fff,
        0px 0px 2px #fff,
        0px 0px 15px #fff,
        0px 0px 15px #fff,
        0px 0px 15px #fff,
        0px 0px 15px #fff,
        0px 0px 15px #fff,
        0px 0px 15px #fff,
        0px 0px 20px #fff,
        0px 0px 20px #fff,
        0px 0px 20px #7B96B8,
        0px 0px 50px #7B96B8,
        0px 10px 30px #7B96B8,
        0px 10px 30px #7B96B8,
        0px 10px 30px #7B96B8,
        0px 10px 30px #7B96B8,
        0px -10px 30px #7B96B8,
        0px -10px 30px #7B96B8;}
}
/*** hover ***/
.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url('images/bgimg.jpg') no-repeat center center;

}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.view-first:hover img {
    transform: scale(1.1);
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-second img {
    transition: all 0.2s ease-in;
}
.view-second .mask {
    background-color: rgba(115,146,184, 0.7);
    width: 300px;
    padding: 60px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}
.view-second p {
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
}
.view-second a.info {
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
}
.view-second:hover .mask {
    opacity:1;
    transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h2 {
    transform: translate(0px,0px);
    transition-delay: 0.3s;
}
.view-second:hover p {
    transform: translate(0px,0px);
    transition-delay: 0.4s;
}
.view-second:hover a.info {
    transform: translate(0px,0px);
    transition-delay: 0.5s;
}

.view h3{
    height: 35px;
    position: relative;
    background: black !important;
    color: white;
    top:15px;
}
    /***end hover***/


#homeTitle{
    color: white;
    font-family: monospace;
    font-size: 3em;
    font-weight: bold;
    height: 100%;
    margin: 0;
    opacity: 0.7;
    padding: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 55%;
    z-index: 6;
}

#homep {
    position:relative;
    background:url("../img/space8.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow:hidden;


}

#target{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#earth {
    background-image: url('../img/astro.png');
    background-repeat: no-repeat;
    width: 320px;
    height: 341px;
    /* a black shadow from left and white from right */

    position: relative;
    z-index: 5;
    animation-name: move,scale,rotate;
    animation-duration: 10s,10s,10s;
    animation-iteration-count: infinite,infinite,infinite;
    -webkit-animation-timing-function: ease-in-out,linear,linear;
}

@keyframes move {
    0%   { left: 350px;  }
    70%  { left: -150px; }
    100% { left: 350px;  }
}

@keyframes scale {
    0%  { transform: scale(1);   }
    32% { transform: scale(0.4); animation-timing-function:  ease-in; }
    70% { transform: scale(1); animation-timing-function:  ease-in;  }
    75% { transform: scale(1.2);  animation-timing-function:  ease-in-out; }
    86% { transform: scale(2);  }
    98% { transform: scale(1.2); }
    100%{ transform: scale(1); }
}

