/* CSS reset */
#divVoyage.body,#divVoyage.div,#divVoyage.dl,#divVoyage.dt,#divVoyage.dd,#divVoyage.ul,#divVoyage.ol,#divVoyage.li,#divVoyage.h1,#divVoyage.h2,#divVoyage.h3,#divVoyage.h4,#divVoyage.h5,#divVoyage.h6,#divVoyage.pre,#divVoyage.form,#divVoyage.fieldset,#divVoyage.input,#divVoyage.textarea,#divVoyage.p,#divVoyage.blockquote,#divVoyage.th,#divVoyage.td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
#divVoyage.fieldset,#divVoyage.img {
	border:0;
}
#divVoyage.input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
#divVoyage.address,#divVoyage.caption,#divVoyage.cite,#divVoyage.code,#divVoyage.dfn,#divVoyage.th,#divVoyage.var {
	font-style:normal;
	font-weight:normal;
}
#divVoyage.ol,#divVoyage.ul {
	list-style:none;
}
#divVoyage.caption,#divVoyage.th {
	text-align:left;
}
#divVoyage.h1,#divVoyage.h2,#divVoyage.h3,#divVoyage.h4,#divVoyage.h5,#divVoyage.h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}