<!DOCTYPE html>
<html lang="en" ng-app="seasafe" ng-controller="RootController as rvm">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!--[if lt IE 9]>
    <script src="client/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <!-- Jquery -->
    <script type="text/javascript" src="client/lib/jquery/jquery-1.12.3.js"></script>

    <!-- Lodash -->
    <script type="text/javascript" src="client/lib/lodash/lodash.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="client/lib/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="client/lib/bootstrap-3.3.6/css/bootstrap-theme.css"/>
    <script type="text/javascript" src="client/lib/bootstrap-3.3.6/js/bootstrap.js"></script>

    <!-- Bootstrap Material Design -->
    <!--link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/bootstrap-material-design.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/ripples.min.css"/>
    <script type="text/javascript" src="lib/bootstrap-material-design/js/material.js"></script>
    <script type="text/javascript" src="lib/bootstrap-material-design/js/ripples.js"></script-->

    <!-- Google's Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="client/lib/material-design-icons/iconfont/material-icons.css"/>

    <!-- Templarian's Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="client/lib/mdi/materialdesignicons.css">
    <!--link rel="stylesheet" type="text/css" href="client/lib/materialdesignicon.bootstrap.css"/-->

    <!-- Angular -->
    <script type="text/javascript" src="client/lib/angular/angular.js"></script>

    <!-- Angular Animate-->
    <script type="text/javascript" src="client/lib/angular-animate/angular-animate.js"></script>

    <!-- Angular Aria-->
    <script type="text/javascript" src="client/lib/angular-aria/angular-aria.js"></script>

    <!-- Angular Messages-->
    <script type="text/javascript" src="client/lib/angular-messages/angular-messages.js"></script>

    <!-- Angular Route-->
    <script type="text/javascript" src="client/lib/angular-route/angular-route.js"></script>

    <!-- UI Router-->
    <!--script type="text/javascript" src="client/lib/ui-router/release/angular-ui-router.js"></script-->

    <!-- Angular Sanitize-->
    <script type="text/javascript" src="client/lib/angular-sanitize/angular-sanitize.js"></script>

    <!-- Angular Material-->
    <script type="text/javascript" src="client/lib/angular-material/angular-material.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/angular-material/angular-material.css"/>

    <!-- Angular Material Calendar-->
    <script type="text/javascript" src="client/lib/angular-material-calendar/angular-material-calendar.js"></script>

    <!-- Angular Material Icons-->
    <script type="text/javascript" src="client/lib/angular-material-icons/angular-material-icons.js"></script>
    <!--link rel="stylesheet" type="text/css" href="client/lib/angular-material-icons/angular-material-icons.css"/-->

    <!-- Angular Translate-->
    <script type="text/javascript" src="client/lib/angular-translate/dist/angular-translate.js"></script>

    <!-- Angular Chart -->
    <script type="text/javascript" src="client/lib/chart.js/Chart.js"></script>
    <script type="text/javascript" src="client/lib/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/angular-chart.js/dist/angular-chart.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <!-- Angular Typewrite -->
    <script type="text/javascript" src="client/lib/angular-typewrite/dist/angular-typewrite.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/angular-typewrite/dist/angular-typewrite.css"/>

    <!-- angular-simple-logger -->
    <script type="text/javascript" src="client/lib/angular-simple-logger/dist/angular-simple-logger.js"></script>

    <!-- Angular Google Maps -->
    <script type="text/javascript" src="client/lib/angular-google-maps/dist/angular-google-maps.js"></script>

    <!-- VEGAS SLIDER -->
    <script type="text/javascript" src="client/lib/vegas/vegas.min.js"></script>
    <script type="text/javascript" src="client/lib/vegas/vegas.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/vegas/vegas.css"/>

    <!-- Flapper -->
    <link rel="stylesheet" type="text/css" href="client/lib/Flapper/css/flapper.css"/>
    <script type="text/javascript" src="client/lib/Flapper/src/jquery.flapper.js"></script>

    <!-- Morphtext -->
    <link rel="stylesheet" type="text/css" href="client/lib/Morphext-2.4.4/dist/morphext.css"/>
    <script type="text/javascript" src="client/lib/Morphext-2.4.4/dist/morphext.js"></script>

    <!-- SVG Morpheus -->
    <script type="text/javascript" src="client/lib/SVG-Morpheus/compile/unminified/svg-morpheus.js"></script>


    <!-- Dependence weblibs -->
    <script type="text/javascript" src="client/lib/weblibs.js"></script>

    <!-- Local styles -->
    <link rel="stylesheet" type="text/css" href="client/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/liteaccordion.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/slicebox.css"/>
    <!--link rel="stylesheet" type="text/css" href="client/assets/css/page_cube_transitions.css"-->

    <!-- Local styles -->
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/accueil.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/reset.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/style_common.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/style1.css"/>

    <!-- Angular application scripts -->
    <script type="text/javascript" src="client/app/app.module.js"></script>
    <script type="text/javascript" src="client/app/app.config.js"></script>
    <script type="text/javascript" src="client/app/app.config.route.js"></script>
    <script type="text/javascript" src="client/app/app.run.js"></script>
    <script type="text/javascript" src="client/app/app.root.controller.js"></script>

    <script type="text/javascript" src="client/app/main_component/accueil/accueil.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/info.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/liteaccordion.jquery.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/modernizr.custom.46884.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/jquery.slicebox.js"></script>
    <script type="text/javascript" src="client/app/main_component/wall/wall.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/carte/carte.controller.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDCD0Ec5IGlg466m82nKGWpmFpXXcr9O-I"></script>
    <script type="text/javascript">

        /* Replace #your_subdomain# by the subdomain of a Site in your OneAll account */
        var oneall_subdomain = 'arvindtest';

        /* The library is loaded asynchronously */
        var oa = document.createElement('script');
        oa.type = 'text/javascript'; oa.async = true;
        oa.src = '//' + oneall_subdomain + '.api.oneall.com/socialize/library.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(oa, s);

    </script>
</head>

<body layout="row" flex>
    <md-sidenav
            class="site-sidenav"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="8"
            layout="column">
        <header class="nav-header" ng-click="rvm.navigateTo('acceuil')">
            <a href="" class="docs-logo">
                    <md-icon style="font-size:100px; color:#e5fcc2;">directions_boat</md-icon>
                <h1 class="docs-logotype md-heading" style="font-family: 'Variane Script';">SeaSafe</h1>
            </a>
        </header>
        <!--md-toolbar>
            <h1>Sidenav Right / Toolbar</h1>
        </md-toolbar-->
        <md-list flex
            style="background: linear-gradient(to bottom, #e5fcc2 55%,#d3f89c 100%);">
            <md-list-item class="menu-item" ng-click="rvm.navigateTo('wall', $event)">
                <md-icon class="md-36">dashboard</md-icon>
                <p>Wall</p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="menu-item" ng-click="rvm.navigateTo('carte', $event)">
                <md-icon class="md-36">public</md-icon>
                <p>Carte</p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="menu-item-alert" ng-click="rvm.navigateTo('data usage', $event)">
                <md-icon class="md-36">warning</md-icon>
                <p>Alerter</p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="menu-item" ng-click="rvm.navigateTo('geolocalisation')">
                <md-icon class="md-36">public</md-icon>
                <p>Géolocalisation</p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="menu-item" ng-click="rvm.navigateTo('info', $event)">
                <md-icon class="md-36">people</md-icon>
                <p>Savoir Plus</p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="menu-item" ng-click="rvm.navigateTo('data usage', $event)">
                <md-icon class="md-36">details</md-icon>
                <p>En savoire plus</p>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar layout="row">
            <md-button hide-gt-sm ng-click="rvm.toggleSidenav()">
                <md-icon>menu</md-icon>
            </md-button>
            <p>SeaSafe App / Bread Crumbs here</p>
        </md-toolbar>
        <md-content ng-view>
        </md-content>
    </div>
</body>
</html>