<!DOCTYPE html>
<html lang="en" ng-app="seasafe" ng-controller="RootController as rvm">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!--[if lt IE 9]>
    <script src="client/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <!-- Jquery -->
    <script type="text/javascript" src="client/lib/jquery/jquery-1.12.3.js"></script>

    <!-- Lodash -->
    <script type="text/javascript" src="client/lib/lodash/lodash.js"></script>

    <!-- Bootstrap -->
    <!--link rel="stylesheet" type="text/css" href="client/lib/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="client/lib/bootstrap-3.3.6/css/bootstrap-theme.css"/>
    <script type="text/javascript" src="client/lib/bootstrap-3.3.6/js/bootstrap.js"></script-->

    <!-- Bootstrap Material Design -->
    <!--link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/bootstrap-material-design.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/ripples.min.css"/>
    <script type="text/javascript" src="lib/bootstrap-material-design/js/material.js"></script>
    <script type="text/javascript" src="lib/bootstrap-material-design/js/ripples.js"></script-->

    <!-- Google's Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="client/lib/material-design-icons/iconfont/material-icons.css"/>

    <!-- Templarian's Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="client/lib/mdi/materialdesignicons.css">
    <!--link rel="stylesheet" type="text/css" href="client/lib/materialdesignicon.bootstrap.css"/-->

    <!-- Angular -->
    <script type="text/javascript" src="client/lib/angular/angular.js"></script>

    <!-- Angular Animate-->
    <script type="text/javascript" src="client/lib/angular-animate/angular-animate.js"></script>

    <!-- Angular Aria-->
    <script type="text/javascript" src="client/lib/angular-aria/angular-aria.js"></script>

    <!-- Angular Messages-->
    <script type="text/javascript" src="client/lib/angular-messages/angular-messages.js"></script>

    <!-- Angular Route-->
    <script type="text/javascript" src="client/lib/angular-route/angular-route.js"></script>

    <!-- UI Router-->
    <!--script type="text/javascript" src="client/lib/ui-router/release/angular-ui-router.js"></script-->

    <!-- Angular Sanitize-->
    <script type="text/javascript" src="client/lib/angular-sanitize/angular-sanitize.js"></script>

    <!-- Angular Material-->
    <script type="text/javascript" src="client/lib/angular-material/angular-material.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/angular-material/angular-material.css"/>

    <!-- Angular Material Calendar-->
    <script type="text/javascript" src="client/lib/angular-material-calendar/angular-material-calendar.js"></script>

    <!-- Angular Material Icons-->
    <script type="text/javascript" src="client/lib/angular-material-icons/angular-material-icons.js"></script>
    <!--link rel="stylesheet" type="text/css" href="client/lib/angular-material-icons/angular-material-icons.css"/-->

    <!-- Angular Translate-->
    <script type="text/javascript" src="client/lib/angular-translate/dist/angular-translate.js"></script>

    <!-- Angular Chart -->
    <script type="text/javascript" src="client/lib/chart.js/Chart.js"></script>
    <script type="text/javascript" src="client/lib/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/angular-chart.js/dist/angular-chart.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <!-- Angular Typewrite -->
    <script type="text/javascript" src="client/lib/angular-typewrite/dist/angular-typewrite.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/angular-typewrite/dist/angular-typewrite.css"/>

    <!-- angular-simple-logger -->
    <script type="text/javascript" src="client/lib/angular-simple-logger/dist/angular-simple-logger.js"></script>

    <!-- Angular Google Maps -->
    <script type="text/javascript" src="client/lib/angular-google-maps/dist/angular-google-maps.js"></script>

    <!-- VEGAS SLIDER -->
    <script type="text/javascript" src="client/lib/vegas/vegas.min.js"></script>
    <script type="text/javascript" src="client/lib/vegas/vegas.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/vegas/vegas.css"/>

    <!-- Flapper -->
    <link rel="stylesheet" type="text/css" href="client/lib/Flapper/css/flapper.css"/>
    <script type="text/javascript" src="client/lib/Flapper/src/jquery.flapper.js"></script>

    <!-- Morphtext -->
    <link rel="stylesheet" type="text/css" href="client/lib/Morphext-2.4.4/dist/morphext.css"/>
    <script type="text/javascript" src="client/lib/Morphext-2.4.4/dist/morphext.js"></script>

    <!-- SVG Morpheus -->
    <script type="text/javascript" src="client/lib/SVG-Morpheus/compile/unminified/svg-morpheus.js"></script>

    <!-- Dependence weblibs -->
    <script type="text/javascript" src="client/lib/weblibs.js"></script>

    <!-- Local styles -->
    <link rel="stylesheet" type="text/css" href="client/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="client/assets/css/carte.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/liteaccordion.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/slicebox.css"/>
    <link rel="stylesheet" type="text/css" href="client/assets/css/page_cube_transitions.css">

    <!-- Local styles -->
    <link rel="stylesheet" type="text/css" href="client/app/main_component/abbord/abbord.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/accueil.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/reset.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/style_common.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/style1.css"/>

    <!-- Angular application scripts -->
    <script type="text/javascript" src="client/app/app.module.js"></script>
    <script type="text/javascript" src="client/app/app.config.js"></script>
    <script type="text/javascript" src="client/app/app.config.route.js"></script>
    <script type="text/javascript" src="client/app/app.run.js"></script>
    <script type="text/javascript" src="client/app/app.root.controller.js"></script>

    <script type="text/javascript" src="client/app/main_component/accueil/accueil.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/info.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/liteaccordion.jquery.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/modernizr.custom.46884.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/jquery.slicebox.js"></script>
    <script type="text/javascript" src="client/app/main_component/wall/wall.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/abbord/abbord.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/carte/carte.controller.js"></script>

    <!-- Navigation -->
    <link rel="stylesheet" type="text/css" href="client/app/shared_component/nav/nav.css"/>
    <script type="text/javascript" src="client/app/shared_component/nav/navCtrl.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDCD0Ec5IGlg466m82nKGWpmFpXXcr9O-I"></script>
    <!-- Voyage-->
    <script type="text/javascript" src="client/app/main_component/voyage/VoyageCtrl.js"></script>
    <link  rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/component2.css" />
    <link rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/voyage.css" />
    <link rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/voyage_style.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/voyage_cssIE.css" />
    <![endif]-->
    <script type="text/javascript">

        /* Replace #your_subdomain# by the subdomain of a Site in your OneAll account */
        var oneall_subdomain = 'arvindtest';

        /* The library is loaded asynchronously */
        var oa = document.createElement('script');
        oa.type = 'text/javascript'; oa.async = true;
        oa.src = '//' + oneall_subdomain + '.api.oneall.com/socialize/library.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(oa, s);

    </script>
</head>

<body layout="row" style="overflow: hidden;" flex>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1569456083347861',
            xfbml      : true,
            version    : 'v2.6'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1569456083347861";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <nav id="bt-menu"
         class="bt-menu"
         ng-class="nav.menuIcon == 'menu' ? 'bt-menu-close' : 'bt-menu-open'"
         ng-controller="navCtrl as nav"
         ng-click="nav.closeMenu($event)">
        <md-button
                aria-label
                class="bt-menu-trigger"
                ng-click="nav.toggleMenu($event)">
            <ng-md-icon
                    icon="{{nav.menuIcon}}"
                    options='{"duration": 500, "rotation": "none"}'>
            </ng-md-icon>
        </md-button>
        <ul>
            <li>
                <md-button
                        ng-href="#/acceuil">
                    <md-icon
                            class="md-light md-48 mdi mdi-apps"
                            ng-class="rvm.getClass('/acceuil')">
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Acceuil
                    </md-tooltip>
                </md-button>
            </li>
            <li>
                <md-button
                        ng-href="#/wall">
                    <md-icon
                            class="md-light md-48"
                            ng-class="rvm.getClass('/wall')">
                        dashboard
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Wall
                    </md-tooltip>
                </md-button>
            </li>
            <li>
                <md-button
                        ng-href="#/carte">
                    <md-icon
                            class="md-light md-48"
                            ng-class="rvm.getClass('/carte')">
                        public
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Carte
                    </md-tooltip>
                </md-button>

            </li>
            <li>
                <md-button
                        ng-href="#/info">
                    <md-icon
                            class="md-light md-48"
                            ng-class="rvm.getClass('/info')">
                        info
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Savoir Plus
                    </md-tooltip>
                </md-button>
            </li>
        </ul>
        <ul>
            <li>
                <div
                        class="fb-like"
                        data-share="true"
                        data-width="450"
                        data-show-faces="true">
                </div>
            </li>
            <li>
            </li>
        </ul>
        <div  class="animation outer-box">
            <div ng-view
                 class="cube {{vm.pageClass}}">
            </div>
        </div>
    </nav>
</body>
</html>