<!DOCTYPE html>
<html lang="en" ng-app="seasafe" ng-controller="RootController as rvm">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!--[if lt IE 9]>
    <script src="client/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <!-- Jquery -->
    <script type="text/javascript" src="client/lib/jquery/jquery-1.12.3.js"></script>

    <!-- Lodash -->
    <script type="text/javascript" src="client/lib/lodash/lodash.js"></script>

    <!-- Bootstrap -->
    <!--link rel="stylesheet" type="text/css" href="client/lib/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="client/lib/bootstrap-3.3.6/css/bootstrap-theme.css"/>
    <script type="text/javascript" src="client/lib/bootstrap-3.3.6/js/bootstrap.js"></script-->

    <!-- Bootstrap Material Design -->
    <!--link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/bootstrap-material-design.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/ripples.min.css"/>
    <script type="text/javascript" src="lib/bootstrap-material-design/js/material.js"></script>
    <script type="text/javascript" src="lib/bootstrap-material-design/js/ripples.js"></script-->

    <!-- Google's Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="client/lib/material-design-icons/iconfont/material-icons.css"/>

    <!-- Templarian's Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="client/lib/mdi/materialdesignicons.css">
    <!--link rel="stylesheet" type="text/css" href="client/lib/materialdesignicon.bootstrap.css"/-->

    <!-- Angular -->
    <script type="text/javascript" src="client/lib/angular/angular.js"></script>

    <!-- Angular Animate-->
    <script type="text/javascript" src="client/lib/angular-animate/angular-animate.js"></script>

    <!-- Angular Aria-->
    <script type="text/javascript" src="client/lib/angular-aria/angular-aria.js"></script>

    <!-- Angular Messages-->
    <script type="text/javascript" src="client/lib/angular-messages/angular-messages.js"></script>

    <!-- Angular Route-->
    <script type="text/javascript" src="client/lib/angular-route/angular-route.js"></script>

    <!-- UI Router-->
    <!--script type="text/javascript" src="client/lib/ui-router/release/angular-ui-router.js"></script-->

    <!-- Angular Sanitize-->
    <script type="text/javascript" src="client/lib/angular-sanitize/angular-sanitize.js"></script>

    <!-- Angular Material-->
    <script type="text/javascript" src="client/lib/angular-material/angular-material.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/angular-material/angular-material.css"/>


    <!-- Angular Material Icons-->
    <script type="text/javascript" src="client/lib/angular-material-icons/angular-material-icons.js"></script>
    <!--link rel="stylesheet" type="text/css" href="client/lib/angular-material-icons/angular-material-icons.css"/-->

    <!-- VEGAS SLIDER -->
    <script type="text/javascript" src="client/lib/vegas/vegas.min.js"></script>
    <script type="text/javascript" src="client/lib/vegas/vegas.js"></script>
    <link rel="stylesheet" type="text/css" href="client/lib/vegas/vegas.css"/>

    <!-- Morphtext -->
    <link rel="stylesheet" type="text/css" href="client/lib/Morphext-2.4.4/dist/morphext.css"/>
    <script type="text/javascript" src="client/lib/Morphext-2.4.4/dist/morphext.js"></script>

    <!-- SVG Morpheus -->
    <script type="text/javascript" src="client/lib/SVG-Morpheus/compile/unminified/svg-morpheus.js"></script>

    <!-- Dependence weblibs -->
    <script type="text/javascript" src="client/lib/weblibs.js"></script>

    <!-- Local styles -->
    <link rel="stylesheet" type="text/css" href="client/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="client/assets/css/carte.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/liteaccordion.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/info/css/slicebox.css"/>
    <link rel="stylesheet" type="text/css" href="client/assets/css/page_cube_transitions.css">

    <!-- Local styles -->
    <link rel="stylesheet" type="text/css" href="client/app/main_component/about/css/about.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/abbord/abbord.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/accueil.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/reset.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/style_common.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/accueil/css/hover/style1.css"/>
    <link rel="stylesheet" type="text/css" href="client/app/shared_component/nav/nav.css"/>
    <link  rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/component2.css" />
    <link rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/voyage.css" />
    <link rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/voyage_style.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="client/app/main_component/voyage/css/voyage_cssIE.css" />
    <![endif]-->

    <!-- Angular application scripts -->
    <script type="text/javascript" src="client/app/app.module.js"></script>
    <script type="text/javascript" src="client/app/app.config.js"></script>
    <script type="text/javascript" src="client/app/app.config.route.js"></script>
    <script type="text/javascript" src="client/app/app.run.js"></script>
    <script type="text/javascript" src="client/app/app.root.controller.js"></script>

    <script type="text/javascript" src="client/app/main_component/accueil/accueil.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/about/aboutController.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/info.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/liteaccordion.jquery.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/modernizr.custom.46884.js"></script>
    <script type="text/javascript" src="client/app/main_component/info/js/jquery.slicebox.js"></script>
    <script type="text/javascript" src="client/app/main_component/wall/wall.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/abbord/abbord.controller.js"></script>
    <script type="text/javascript" src="client/app/main_component/carte/carte.controller.js"></script>
    <script type="text/javascript" src="client/app/shared_component/nav/navCtrl.js"></script>
    <script type="text/javascript" src="client/app/main_component/voyage/VoyageCtrl.js"></script>


    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDCD0Ec5IGlg466m82nKGWpmFpXXcr9O-I"></script>

    <script type="text/javascript">

        /* Replace #your_subdomain# by the subdomain of a Site in your OneAll account */
        var oneall_subdomain = 'arvindtest';

        /* The library is loaded asynchronously */
        var oa = document.createElement('script');
        oa.type = 'text/javascript'; oa.async = true;
        oa.src = '//' + oneall_subdomain + '.api.oneall.com/socialize/library.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(oa, s);

    </script>
</head>

<body style="overflow: hidden;">
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1569456083347861',
            xfbml      : true,
            version    : 'v2.6'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1569456083347861";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div ng-if="rvm.isFirefox" layout="row" flex>
        <md-sidenav
                class="site-sidenav"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-whiteframe="8"
                layout="column">
            <header class="nav-header" ng-click="rvm.navigateTo('acceuil')">
                <a href="" class="docs-logo">
                    <md-icon class="mdi mdi-rocket" style="font-size:100px; color:lightcoral;"></md-icon>
                </a>
            </header>
            <md-list flex
                     style="background: linear-gradient(to bottom, #e5fcc2 55%,#d3f89c 100%);">
                <md-list-item class="menu-item" ng-click="rvm.navigateTo('acceuil', $event)">
                    <md-icon class="md-36  mdi mdi-apps"></md-icon>
                    <p>Acceuil</p>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="menu-item" ng-click="rvm.navigateTo('wall', $event)">
                    <md-icon class="md-36">dashboard</md-icon>
                    <p>Partage</p>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="menu-item" ng-click="rvm.navigateTo('carte', $event)">
                    <md-icon class="md-36">public</md-icon>
                    <p>Carte</p>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="menu-item" ng-click="rvm.navigateTo('info', $event)">
                    <md-icon class="md-36">info</md-icon>
                    <p>Savoir Plus</p>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="menu-item-alert" ng-click="rvm.navigateTo('abbord', $event)">
                    <md-icon class="md-36">live_tv</md-icon>
                    <p>En directe</p>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <div layout="column" flex>
            <md-button hide-gt-sm ng-click="rvm.toggleSidenav()">
                <md-icon>menu</md-icon>
            </md-button>
            <div  class="animation outer-box">
                <div ng-view
                     class="cube {{vm.pageClass}}">
                </div>
            </div>
        </div>
    </div>

    <nav ng-if="!rvm.isFirefox"
         id="bt-menu"
         class="bt-menu"
         ng-class="nav.menuIcon == 'menu' ? 'bt-menu-close' : 'bt-menu-open'"
         ng-controller="navCtrl as nav"
         ng-click="nav.closeMenu($event)">
        <md-button
                aria-label
                class="bt-menu-trigger"
                ng-click="nav.toggleMenu($event)">
            <ng-md-icon
                    icon="{{nav.menuIcon}}"
                    options='{"duration": 500, "rotation": "none"}'>
            </ng-md-icon>
        </md-button>
        <ul>
            <li>
                <md-button
                        ng-href="#/acceuil">
                    <md-icon
                            class="md-light md-48 mdi mdi-apps"
                            ng-class="rvm.getClass('/acceuil')">
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Acceuil
                    </md-tooltip>
                </md-button>
            </li>
            <li>
                <md-button
                        ng-href="#/wall">
                    <md-icon
                            class="md-light md-48"
                            ng-class="rvm.getClass('/wall')">
                        dashboard
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Partage
                    </md-tooltip>
                </md-button>
            </li>
            <li>
                <md-button
                        ng-href="#/carte">
                    <md-icon
                            class="md-light md-48"
                            ng-class="rvm.getClass('/carte')">
                        public
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Carte
                    </md-tooltip>
                </md-button>

            </li>
            <li>
                <md-button
                        ng-href="#/info">
                    <md-icon
                            class="md-light md-48"
                            ng-class="rvm.getClass('/info')">
                        info
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        Savoir Plus
                    </md-tooltip>
                </md-button>
            </li>
            <li>
                <md-button
                        ng-href="#/abbord">
                    <md-icon
                            class="md-light md-48"
                            ng-class="rvm.getClass('/abbord')">
                        live_tv
                    </md-icon>
                    <md-tooltip
                            md-direction="right"
                            md-delay="144">
                        En directe
                    </md-tooltip>
                </md-button>
            </li>
        </ul>
        <ul>
            <li>
                <div
                    class="fb-like"
                    data-share="true"
                    data-width="450"
                    data-show-faces="true">
                </div>
            </li>
            <li>
            </li>
        </ul>
        <div  class="animation outer-box">
            <div ng-view
                 class="cube {{vm.pageClass}}">
            </div>
        </div>
    </nav>
</body>
</html>