<div id="splitPanes">
    <div class="container">
        <div id="splitlayout" class="splitlayout" >
            <div class="intro">
                <div class="side side-left" >
                    <header class="codropsheader clearfix">
                    </header>
                    <div style="padding-left: 75%"></div>
                    <div class="intro-content" >
                        <div class="profile"><img src="client/app/main_component/voyage/img/wasa.png" alt="profile1"></div>
                        <h1><span>Info WEBYOUZ 2 </span></h1>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="side side-right">
                    <div style="padding-right: 75%"></div>
                    <div class="intro-content">
                        <div class="profile"><img src="client/app/main_component/voyage/img/meca.jpg" alt="profile2"></div>
                        <h1><span>Parametres temps réel </span></h1>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div><!-- /intro -->
            <div id="divHuman" class="page page-left divVoyage" ng-show="vm.isHuman">
                <h2 class="ss-subtitle">Info Webyouz 2</h2>
                <div class="menuScroll" style="text-align: left;position:absolute;">
                    <md-button ng-click="vm.fnScroll(1)" class="md-fab" aria-label="resume"><md-tooltip md-direction="top">Resumé</md-tooltip><md-icon class="md-36">lightbulb_outline</md-icon></md-button>
                    <md-button ng-click="vm.fnScroll(2)" class="md-fab" aria-label="resume"><md-tooltip md-direction="top">Comfort</md-tooltip><md-icon class="md-36">build</md-icon></md-button>
                    <md-button ng-click="vm.fnScroll(3)" class="md-fab" aria-label="resume"><md-tooltip md-direction="top">Securité</md-tooltip><md-icon class="md-36">supervisor_account</md-icon></md-button>
                </div>
                <div id="ss-container" class="ss-container">
                    <div class="ss-row" id="foncIntro">
                        <div class="ss-left"><h1></h1></div>
                        <div class="ss-right"><h1></h1></div>
                    </div>
                    <div class="ss-row {{line.class}}" ng-repeat="line in vm.arrayData.brief">
                        <div ng-if="$index%2 == 0">
                            <div class="ss-left">{{line.title_img}}
                                <a href="#" class="ss-circle {{line.b_img_class}}"></a>
                            </div>
                            <div class="ss-right">
                                <h3>
                                    <span>{{line.title_descript}}</span>
                                    <span style="font-size: large">{{line.descrip}}</span>
                                </h3>
                            </div>
                        </div>
                        <div ng-if="$index%2 == 1">
                            <div class="ss-left">
                                <h3>
                                    <span>{{line.title_descript}}</span>
                                    <span style="font-size: large">{{line.descrip}}</span>
                                </h3>
                            </div>
                            <div class="ss-right">{{line.title_img}}
                                <a href="#" class="ss-circle {{line.b_img_class}}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="ss-row" id="foncHuman">
                        <div class="ss-left"><h1></h1></div>
                        <div class="ss-right"><h1></h1></div>
                    </div>
                    <div class="ss-row {{line.class}}" ng-repeat="line in vm.arrayData.operation">
                        <div ng-if="$index%2 == 0">
                            <div class="ss-left">{{line.title_img}}
                                <a href="#" class="ss-circle {{line.b_img_class}}"></a>
                            </div>
                            <div class="ss-right">
                                <h3>
                                    <span>{{line.title_descript}}</span>
                                    <span style="font-size: large">{{line.descrip}}</span>
                                </h3>
                            </div>
                        </div>
                        <div ng-if="$index%2 == 1">
                            <div class="ss-left">
                                <h3>
                                    <span>{{line.title_descript}}</span>
                                    <span style="font-size: large">{{line.descrip}}</span>
                                </h3>
                            </div>
                            <div class="ss-right">{{line.title_img}}
                                <a href="#" class="ss-circle {{line.b_img_class}}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="ss-row" id="foncContrib">
                        <div class="ss-left"><h1> </h1></div>
                        <div class="ss-right"><h1></h1></div>
                    </div>
                    <div class="ss-row {{line.class}}" ng-repeat="line in vm.arrayData.contribution">
                        <div ng-if="$index%2 == 0">
                            <div class="ss-left">{{line.title_img}}
                                <a href="#" class="ss-circle {{line.b_img_class}}"></a>
                            </div>
                            <div class="ss-right">
                                <h3>
                                    <span>{{line.title_descript}}</span>
                                    <span style="font-size: large">{{line.descrip}}</span>
                                </h3>
                            </div>
                        </div>
                        <div ng-if="$index%2 == 1">
                            <div class="ss-left">
                                <h3>
                                    <span>{{line.title_descript}}</span>
                                    <span style="font-size: large">{{line.descrip}}</span>
                                </h3>
                            </div>
                            <div class="ss-right">{{line.title_img}}
                                <a href="#" class="ss-circle {{line.b_img_class}}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /page-right -->
            <div id="divParcel" class="page page-right divVoyage" ng-show="vm.isParcel">
                <div class="container" >
                    <div style="align-content: center;text-align: center;font-size: xx-large;margin-bottom: 150px">Rapport en temp réel</div>
                    <table>
                        <tr>
                            <td>1</td>
                            <td>{{vm.noms[0]}}</td>
                            <td>{{vm.data[0]}}</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>{{vm.noms[1]}}</td>
                            <td>{{vm.data[1]}}</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>{{vm.noms[2]}}</td>
                            <td>{{vm.data[2]}}</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>{{vm.noms[3]}}</td>
                            <td>{{vm.data[3]}}</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>{{vm.noms[4]}}</td>
                            <td>{{vm.data[4]}}</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>{{vm.noms[5]}}</td>
                            <td>{{vm.data[5]}}</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>{{vm.noms[6]}}</td>
                            <td>{{vm.data[6]}}</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>{{vm.noms[7]}}</td>
                            <td>{{vm.data[7]}}</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>{{vm.noms[8]}}</td>
                            <td>{{vm.data[8]}}</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>{{vm.noms[9]}}</td>
                            <td>{{vm.data[9]}}</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>{{vm.noms[10]}}</td>
                            <td>{{vm.data[10]}}</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>{{vm.noms[11]}}</td>
                            <td>{{vm.data[11]}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <a href="#" class="back back-right" style="top:50%;" title="back to intro">&larr;</a>
            <a href="#" class="back back-left" title="back to intro">&rarr;</a>
        </div><!-- /splitlayout -->
    </div><!-- /container -->
</div>